# Python
__pycache__/
*.pyc
*.py[cod]
*.ipynb_checkpoints/
.venv/
*.DS_Store
cache/

data/raw/
data/processed/
results_int/

*.log
*.out
*.h5

*.env
*.pyc
*.pt
*.pth
*.csv
*.pkl
*.npy
*.npz


# IDE
.vscode/
.idea/
*.swp
