numpy
pandas
scikit-learn
matplotlib
seaborn
jupyterlab
adversarial-robustness-toolbox
shap
statsmodels
torch
torchvision
torchaudio
mne
moabb
torch-lr-finder
optuna
torchattacks
advertorch
foolbox
captum
braindecode @ git+https://github.com/braindecode/braindecode.git@master
autoattack @ git+https://github.com/fra31/auto-attack

